* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
*/
.container_header {
  display: flex;
  flex-direction: column;
}
.links_secciones_1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.links_secciones_1 > a {
  text-align: center;
  color: black;
  text-decoration: none;
  margin: 0.6rem;
  font-weight: 600;
}
.logo {
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
#logo {
  width: 250px;
}

.links_secciones_2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(184, 183, 183);
  margin-top: 1.2rem;
}

.links_secciones_2 > a {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.data_item {
  display: flex;
  justify-content: center;

  line-height: 1.5rem;
  border-bottom: 1px solid black;
}
.data_item > p {
  margin-bottom: 0;
}
