@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Raleway:wght@700&display=swap');

nav {
    font-family: 'Libre Franklin', sans-serif;
    border-bottom: solid rgb(49, 49, 49, 0.3) 1px;
    height: 7.5vh;
}

nav a {
    color: #333333;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.offcanvas {
    height: 92.5vh !important;
    margin-top: 7.5vh;
    background: #88858511;
    padding: 0;
}

.container-button {
    height: 54px;
    width: 54px;
}

.lbl-menu {
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transform: scale(1.2);
}

.lbl-menu #spn1,
#spn2,
#spn3 {
    position: absolute;
    content: '';
    background: black;
    width: 22px;
    height: 3px;
    transition: all 400ms ease;
}

#spn1 {
    top: 6px;
    left: 3px;
}

#spn2 {
    top: 13px;
    width: 15px;
    left: 3px;
}

#spn3 {
    top: 21px;
    left: 3px;
}

#btn-menu {
    display: none;
}

#btn-menu:checked~.lbl-menu #spn1 {
    transform: rotate(140deg);
    top: 10px;
}

#btn-menu:checked~.lbl-menu #spn2 {
    opacity: 0;
}

#btn-menu:checked~.lbl-menu #spn3 {
    transform: rotate(-140deg);
    top: 10px;
}

#registrar-1,
#registrar-2 {
    font-size: 1.1rem;
    border-radius: 0;
    font-weight: bolder;
}

#registrar-1 {
    background-color: #fc8c04;
    color: white;
    padding: 10px 25px 10px 25px;
}

#registrar-2 {
    color: #fc8c04;
    border: #fc8c04 solid 2px;
    padding: 10px;
}

.searcher {
    width: 100%;
}

.searcher div {
    background-color: white;
    border: #3333335a solid 1px;
    padding: 0.5rem;
    color: #3333335a;
    font-size: large;
    font-weight: 100;
}

.offcanvas-header {
    border-bottom: #fc8c04 solid 1px;
}

#search-icon {
    width: 15px;
    height: 15px;
    fill: #a0a0a0;
}

.item {
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: .02em;
    text-align: left;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: 10;
    font-size: 28px;
    line-height: 30px;
    margin-left: 0;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-top: 15px;
    text-decoration: none;
    width: 100%;
}

.item:hover {
    background-color: #fc8c04;
}

.border-link {
    border-top: #a0a0a06e solid 1px;
}

.dark-btn {
    margin: 10px;
}

.lbl-switch {
    display: inline-block;
    width: 65px;
    height: 31px;
    background-color: #aaaaaa9d;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked~ .lbl-switch {
    background: #fc8c04;
}

#btn-switch:checked~ .lbl-switch::after {
    background: white;
    left: 36px;
}

.lbl-switch::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 100px;
    top: 3px;
    left: 3px;
    transition: 0.3s;
}

#btn-switch {
    display: none;
}

.offcanvas-footer {
    border-top: rgb(49, 49, 49, 0.5) solid 1px;
    font-size: 1.7rem;
    font-weight: 10;
}